/vendor/*
/tmp/*
/logs/*
.idea/*
models/.metadata
*.log


#Files
.editorconfig
cache.properties

#Build
!build/phpmd.xml
!build/phpunit.xml
!build/phpdox.xml
build/*

#Grunt
webroot/plugins/bootstrap/grunt/
webroot/plugins/bootstrap/node_modules/
