/* ----------------------
 General
---------------------- */

html, body {
  height: 100%;
}

/* Content wrapping for fixed footer */
#content {
}

#main-content {
  overflow: auto;
  padding-bottom: 200px;
}

/* ----------------------
 Icons
---------------------- */

/* Icon padding */
.small-padding-text {
  margin: 0 5px 0 0;
}
.medium-padding-text {
  margin: 0 10px 0 0;
}

/* ----------------------
 Rows
---------------------- */

/* Row colors */
.row-black {
  color: #ddd;
  background: #48403D;
}

.social-media-strip {
  margin-bottom: 0;
}

/* ----------------------
 Nav bar
---------------------- */

/* Alignment and height*/
.navbar-brand {
  height: 140px;
  padding: 0;
}

ul.navbar-nav > li > a{
  padding-top: 60px;
  padding-bottom: 32px;
}

ul.navbar-nav > li > a.dropdown-toggle{
  padding-top: 60px;
  padding-bottom: 12px;
}

ul.navbar-nav > li > a > div{
  padding: 5px 0 0 0 !important;
}

ul.navbar-nav a:hover, ul.navbar-nav a:focus, ul.navbar-nav a:focus{
  background-color: #E7E7E7 !important;
}

/* ----------------------
 footer
---------------------- */

/* fixed bottom*/
.footer {
  position: relative;
  margin-top: 50px;
  height: 200px;
  clear: both;
  padding: 40px 0;
}


/* ----------------------
 Responsive definitions
---------------------- */
/*Mobile*/
@media (max-width: 767px) {
  /* footer height*/
  .footer {
    height: 450px;
    padding: 20px;
  }
  /*Stop footer from hiding lower content*/
  #main-content {
    padding-bottom: 450px;
  }
}
/*Footer*/
@media (min-width: 768px) and (max-width: 991px){
  /* footer height*/
  .footer {
    height: 270px;
    padding: 30px;
  }
  /*Stop footer from hiding lower content*/
  #main-content {
    padding-bottom: 270px;
  }
}