/* ----------------------
 General
---------------------- */

html, body {
  height: 100%;
}

/* Content wrapping for fixed footer */
#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -200px;
}


/* ----------------------
 footer
---------------------- */

.footer, .push {
  height: 200px;
}

/* fixed bottom*/
.footer {
  padding: 40px 0;
  margin-top: 50px;
}

.long-text p {
  margin: 30px 0;
}

/* ----------------------
 Icons
---------------------- */

/* Icon padding */
.small-padding-text {
  margin: 0 5px 0 0;
}
.medium-padding-text {
  margin: 0 10px 0 0;
}

/* ----------------------
 Rows
---------------------- */

/* Row colors */
.row-black {
  color: #ddd;
  background: #48403D;
}

.social-media-strip {
  margin-bottom: 0;
}

/* ----------------------
 Nav bar
---------------------- */

/* Alignment and height*/
.navbar-brand {
  height: 140px;
  padding: 0;
}

ul.navbar-nav > li > a{
  padding-top: 60px;
  padding-bottom: 32px;
}

ul.navbar-nav > li > a.dropdown-toggle{
  padding-top: 60px;
  padding-bottom: 12px;
}

ul.navbar-nav > li > a > div{
  padding: 5px 0 0 0 !important;
}

ul.navbar-nav a:hover, ul.navbar-nav a:focus, ul.navbar-nav a:focus{
  background-color: #E7E7E7 !important;
}

/* ----------------------
 Responsive definitions
---------------------- */
/*Mobile*/
@media (max-width: 767px) {

  /* Content wrapping for fixed footer */
  #content {
    /* Negative indent footer by it's height */
    margin: 0 auto -450px;
  }

  /* ----------------------
   footer
  ---------------------- */

  .footer, .push {
    height: 450px;
  }

  /* fixed bottom*/
  .footer {
    padding: 20px 0;
  }
}
/*Footer*/
@media (min-width: 768px) and (max-width: 991px){

  /* Content wrapping for fixed footer */
  #content {
    /* Negative indent footer by it's height */
    margin: 0 auto -270px;
  }

  /* ----------------------
   footer
  ---------------------- */

  .footer, .push {
    height: 270px;
  }

  /* fixed bottom*/
  .footer {
    padding: 20px 0;
  }
}